
<div class="row">
	<div class="col-md-8">
		<h1>This is about us page</h1>
	</div>
</div>

<form action="/admin/about/update">    		
	<div class="row">    		
		<div class="col-md-8">	

				<textarea id="about-content-area" name="content"><%= about.content %></textarea>
				<br>
				<input type="submit" name="submit">
		</div>
	</div>
</form>