<link rel="stylesheet" href="/styles/bootstrap-toggle.min.css"> 
<script src="/js/bootstrap2-toggle.min.js"></script>

<div class="container" ng-app="app" ng-controller="ctrl" >
	<div class="row">
		<div class="col-md-12">

			<div class="manage-header">
				<h2>Enable test</h2>
				
			</div>

			<table id="control-test-table">
			<% chartData.forEach(function(chart){ %>
				<tr>
					<td><%= chart.session %> </td>
					<td><input type="checkbox" ng-model="db.<%- chart.id %>"></td>
				</tr>

			<% }); %>


			</table>
			<script type="text/javascript">

				angular.module('app', []).controller('ctrl', function($scope){
					$scope.xxx = true;
					// setInterval(function(){console.log($scope.xxx);},1000);
					$scope.database = <%- JSON.stringify(chartData) %>;

					console.log($scope.database);
				});

			</script>
		</div>
	</div>
</div>
				